body {
  background-color: lightblue;
  font-size: 20px;
  color: chartreuse;
}

block{
  align-content: center;
}

h1 {
  color: navajowhite;
  margin-left: 20px;
  font-size: 24px;
  text-align: center;
}

h2{
  font-size: 18px;
}

p{
  font-size: large;
  background-color: navy;
}