{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/games_style.css' %}">
{% endblock %}

{% block title %}Games list{% endblock %}

{% block content %}
<h2>Games list</h2>
<ul>
    {% for game in all_the_games %}
        <a href="{{ game.id }}/"><b>{{ game.get_full_title }}</b></a><br>
        <!-- Alternative link:
        <a href="{% url 'game-detail' game.id %}">
        -->
        {{ game.creator }} / {{ game.get_type_display }} / {{ game.get_fsk_display }}<br>
        <br>
    {% endfor %}
</ul>

<a href={% url 'game-create' %}>Add a new Game</a><br>
{% endblock %}