{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Games/css/games_style.css' %}">
{% endblock %}

{% block title %}Game detail{% endblock %}

{% block content %}
<h2>Game detail</h2>

    <table>
    <tr>
        <td><b>Title:</b></td>
        <td>{{ that_one_game.title }}<br></td>
    </tr>
    <tr>
        <td><b>Description:</b></td>
        <td>{{ that_one_game.description }}<br></td>
    </tr>
    <tr>
        <td><b>Genre:</b></td>
        <td>{{ that_one_game.get_type_display }}<br></td>
    </tr>
    <tr>
        <td><b>FSK:</b></td>
        <td>{{ that_one_game.get_fsk_display }}<br></td>
    </tr>
    <tr>
        <td><b>Creator:</b></td>
        <td>{{ that_one_game.creator }}<br></td>
    </tr>
    <tr>
        <td><b>Date published:</b></td>
        <td>{{ that_one_game.date_published }}<br></td>
    </tr>
    <tr>
        <td><b>Entered by:</b></td>
        <td>{{ that_one_game.user }}<br></td>
    </tr>
    </table>

    <br>
    <a href="{% url 'game-list' %}">Back to all games</a><br>
    <br>

    {% block logged_in_content %}


        <a href="{% url 'game-delete' that_one_game.id %}">Delete Game</a><br>
<!--
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete this game ? {{ Object }}</p>
        <input type="submit" value="yes">
    </form>
    </br>
-->
    {% endblock %}


{% endblock %}